<provide(:title, "Congratulations! You are now a SLOG!")>
<div class="center">
	<h1>User <%= @user.id %></h1>
	<p id="notice"><%= notice %></p>
	<%= link_to('Sign Out', session_path, :method => :delete) %>
</div>


