/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
///////////////////////
/*Defaults*/
///////////////////////
* {
  margin: 0;
  padding: 0;
}
body, html {
    height:  100%;
    margin:  0px;
    padding: 0px;
}
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  padding: 3px 6px;
  border-radius: 3px;
  color: #000;
  text-decoration: none;

  &:visited {
    color: #666;
  }

  &:hover {
    color: white;
    /*background-color: #CCE680;*/
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

////////////////////////
/*General Formatting*/
////////////////////////
div#wrapper {
    height: 100%;       /* These two lines were the key. */
    background: blue;
    overflow: hidden;
} /* temp */
div#main-nav {
  background: #E6E6E6;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  line-height: 12px;  
}
#main-nav p{
  display: inline-block;
  right: 0; 
}
#main-nav h3 {
  margin: 0;
}
#main-nav li {
  height: inherit;
  display: inline-block;
}
#main-nav img {
  height: 30px;
}
ul#home-nav {
  float: left;
}
ul#page-nav {
  float: right;  
  margin-right: 30px;
}
div.center {  
  margin: 0 auto;
  margin-bottom: 15px;
  width: 800px;
  padding: 10px;
  /*font-size: 14pt;*/
  min-height: 800px;
  height: 100%;
  background: #E6E6E6; /* temp */
  border-radius: 4px;
}
div#login-center {
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 80px;
  width: 700px;
  padding: 80px 10px;
  font-size: 14pt;
  height: 450px;
  min-height: 300px;
  background: rgba(128, 128, 128, 0.6);
  text-align: center;
  box-sizing: content-box;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;   
  line-height: 1.5em; 
}
div#footer {
  background: #E6E6E6;
  height: 20px;
  padding: 10px;
}
div.form-space {
  margin: 50px 0px;
  width: inherit;
}
div.buttons {  
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;  
}
div.column-2 {
  box-sizing: border-box;
  width: 45%;
  height: auto;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 50px 20px;
}
div.column-3 {
  box-sizing: border-box;
  width: 33%;
  min-height: 800px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 50px 20px;
}
div.column-2-3 {
  box-sizing: border-box;
  width: 66%;
  min-height: 800px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 50px 20px;
}
.column-2-3 h3 {
  padding: 5px;
  background: #E6E6E6;
  text-align: left;
  margin-top: -30px;
}
.forms {
  width: 60%;
  height: 500px;
  margin: 0 auto;
}
th {
  width: 150px;
  text-align: left;
}
td {
  width: 150px;
  text-align: left;
}
div#user-map-container {
  width: 100%;
  height: 450px;
  background: white;
}
#map-canvas {
  width: auto;
  height: inherit;
}
/////////////////////
/* Simple Forms */
/////////////////////
.forms div {
  margin-bottom: 30px;
}
#signin-form div {
  margin-bottom: 30px; 
}
.simple_form div.input {  
  clear: both;
}
.simple_form label {
  margin: 2px 10px;
}
.simple_form input[type='submit'] {
  margin: 0 auto;  
  background: #E6E6E6;
  height: 40px;
  width: 120px;
  border-radius: 4px;
  padding: 15px; 
  line-height: 10px;  
}
.simple_form input[type='text'] {
  width: 200px;
}
.simple_form div.button {
  padding: 3px 10px;  
}


