#event-map-container {  
  height: 500px; 
  width: 50%;
  border-radius: 16px 16px; 
  border-color: #fff; 
  border-style: solid; 
  box-shadow: 2px 2px 10px #B1B1B1; 
  border-width: 7px; 
  display: inline-block;  
}

#map-canvas {
  height: 500px;
  width: 400px;
}