///////////
/* User */
///////////
div#user-home-panel {
	width: 100%;
	margin: auto 0;
}
#user-info {
	background: #e6e6e6;
	img {
		width: 200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}	
	p {
		text-align: center;
		font-size: 12pt;
	}
}
#user-feed {

}
.feed-item {
	padding: 10px;
	background: #e6e6e6;
	h4 {		
		text-align: left;
	}		
	margin-bottom: 30px;
}
.time-stamp {
		font-style: italic;
		font-size: 0.8em;
}
#user-options {
	background: #e6e6e6;
}
#user-buttons ul {
	list-style-type: none;
	display: inline-block;	
}
#user-buttons li {
	list-style-type: none;
	height: 100px;
	width: 250px;
	margin: 0 auto;
	margin-top: 50px;	
	background: green;
	text-align: center;
	border-radius: 4px;
}
#user-buttons h2 {
	line-height: 100px;
}
#user-option {
}
.event-item {
	
}

