
//////////////
/* Welcome */
//////////////
div#wrapper {
  background: blue;
}
#header {
  background: #CCE680;
  height: 100%;
  min-height: 700px;  
  margin: 0 auto;
  padding-top: 25px;
}
div.welcome-center {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 700px;
  padding: 10px;
  font-size: 14pt;
  height: 500px;
  min-height: 250px;
  background: rgba(128, 128, 128, 0.5);
  text-align: center;
}
h1#logotype {
  font-size: 30pt;
  letter-spacing: 5px;
  text-align: center;
}
div#main-nav {
  background: #E6E6E6;
  padding: 10px 0px 10px 0px;
}
#main-nav p{
  display: inline-block;
  right: 0; 
}
#main-nav h3 {
  padding: 0px 5px 0px 15px;
}
#main-nav li {
  display: inline-block;
}
.buttons {
  background: #E6E6E6;
  height: 30px;
  width: 250px;
  border-radius: 4px;
  padding: 15px;    
}
div#welcome-footer{
  background: grey;
  height: 20px;
  bottom: 0;
}