// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//////////////
/* Welcome */
//////////////
#header {
  background: #CCE680;
  height: 150px;  
  margin: 0 auto;
  padding-top: 25px;
  margin-bottom: 100px;
}
h1#logotype {
  font-size: 30pt;
  letter-spacing: 5px;
  text-align: center;
}
div#main-nav {
  background: #E6E6E6;
  padding: 10px 0px 10px 0px;
}
#main-nav p{
  display: inline-block;
  right: 0; 
}
#main-nav h3 {
  padding: 0px 5px 0px 15px;
}
#main-nav li {
  display: inline-block;
}
.buttons {
  background: #E6E6E6;
  height: 30px;
  width: 250px;
  border-radius: 4px;
  padding: 15px;    
}